
.container-fluid{
    background-color: #ffffe0;
    justify-content: space-between;
    padding: 2rem;
}
.left-side-navbar{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style-type: none;
    li{
        margin-right: 1em;
    }
}